div.justify-content-end.flex-grow-1.pe-3.navbar-nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    transition: 0.4s;
}

div.justify-content-end.flex-grow-1.pe-3.navbar-nav a:hover{
    background-color: #222;
    color: #fff;
    font-weight: bold;
    transition: 0.4s;
    border-radius: 5px;
}